@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css); #app { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

/* body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-style: normal;
    font-weight: normal;
  } */


  h1, h2 {
    color: black;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-style: normal;
    font-weight: 800;
    color : red
    
  }

  h3, h4, h5, h6 {
    color: black;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    color :blue
  }